
{% load static %}

<link rel="stylesheet" href="{% static 'css/sites.css' %}">

<div id="sites">
    <div id="sites-header">
        your sites
        <button class="button btn" id="add-site-button" onclick="location.href='{% url 'addsite' %}'" type="button">
            +
        </button>
    </div>

    <div id="sites-body">
        {% for statistics_unit in statistics %}
            <div class="site-statistics">
                {% include 'included/sites/_statistics.html' %}
                <div class="site">
                    {{ statistics_unit.site.name }}:
                    :{% with url=statistics_unit.site.url %}<a href="{{ url }}">{{ url }}</a>{% endwith %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>